[Ll]ibrary/
[Tt]emp/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
MemoryCaptures/

# Keep all C# scripts and meta files
!Assets/**/*.cs
!Assets/**/*.meta

# Keep essential Unity folders
!Packages/manifest.json
!ProjectSettings/**

# IDE and system files
.vs/
.vscode/
.idea/
.gradle/
.vsconfig
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj

.DS_Store
Thumbs.db

# Builds and packages
*.apk
*.aab
*.unitypackage

# Logs and misc
*.log
*.htm

# Optional large assets
*.psd
*.fbx
*.wav
*.mp4